.empty-wishlist {
  height: 70vh;
  color: #666;

  .empty-icon {
    font-size: 6rem;
    color: #c7c2c2; 
  }

  .back-home-btn {
    background-color: #FFE353; 
    border: none;
    padding: 0.6rem 1.5rem;
    font-weight: bold;
  }
}



